@import "../vars";

.booksInfo {
  margin: 20px 0;
  display: flex;

  &__item {
    text-align: left;
    font-size: 25px;
    margin: 10px 0;

    span {
      color: $secondary-color;
    }

    & + & {
      margin-left: 40px;
    }
  }
}
