@import "../vars";

.searchBooks {
  &__wrapper {
    position: relative;
    margin: 10px;

    input {
      font-size: 20px;
      width: 100%;
      padding: 10px 5px 10px 85px;
    }

    select {
      font-size: 20px;
      width: 80px;
      top: 0;
      left: 0;
      height: 100%;
      position: absolute;
      background: $secondary-color;
      color: $light;
    }
  }
}

.categories {
  &__list {
    display: flex;
    margin: 10px;
  }

  &__item {
    border: 1px solid $secondary-color;
    & + & {
      border-left: none;
    }
  }

  &__btn {
    background: transparent;
    padding: 5px 25px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    color: $light;

    &_active {
      background: $secondary-color;
    }
  }
}
