@import "../vars";

.searchBooks {
  &__wrapper {
    position: relative;
    margin: 10px;

    input {
      font-size: 20px;
      width: 100%;
      padding: 10px 5px 10px 115px;
    }

    select {
      font-size: 20px;
      width: 110px;
      top: 0;
      left: 0;
      height: 100%;
      position: absolute;
      background: $secondary-color;
      color: $light;
    }
  }
}
